// Replace the line below with a Canvas access token
CANVAS TOKEN
// Replace the line below with your Kattis login name
KATTIS LOGIN NAME
//Replace the line below with your Kattis password
KATTIS PASSWORD
